.login-page {
  background-color: rgb(21, 21, 21);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
}
.logo > img {
  width: 100%;
  max-width: 30%;
}
.nav-link {
  color: white;
  float: right;
  cursor: pointer;
}
input::placeholder {
  font-size: 0.9rem;
  padding-left: 0.5rem;
  font-weight: 400;
}
#exampleCheck1 {
  border: 2px solid rgb(252, 182, 20);
  background-color: rgb(21, 21, 21);
}
