.user {
}
.user-from {
  background-color: white;
  box-shadow: 0px 0px 2px 0px rgba(233, 205, 205, 0.67);
  z-index: 999;
  width: 100%;
  height: auto;
  padding: 50px;
}
.pic {
  border-radius: 50px;
}

.edit-button {
  background-color: rgb(112, 182, 206);
  border-radius: 10px;
  border: none;
  width: 60px;
  height: 50px;
}
